{% extends 'admin/admin_panel.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/admin_add_venuepost" enctype="multipart/form-data">
  <table width="200" border="1" class="table table-bordered">
    <tr>
      <th scope="row">VENUE</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <th scope="row">CATEGORY</th>
      <td><label for="select"></label>
        <select name="select" id="select">
            {% for i in data %}
                <option value="{{ i['cid']}}">{{ i['catname'] }}</option>
            {% endfor %}
      </select></td>
    </tr>
    <tr><th scope="row">IMAGE</th>

      <td><input type="file" name="pic"></td>
    </tr>
    <tr>
      <th scope="row">DESCRIPTION</th>
      <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <th scope="row">LATITUDE </th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <th scope="row">LONGITUDE</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <th colspan="2" scope="row">
      <input class="btn btn-danger" type="submit" name="button" id="button" value="ADD" /></th>
    </tr>

  </table>
</form>
{% endblock %}
